*.fas
*.lib
*.fasl
*.a
*.o
*.*fasl
*.*fsl
*~
*.swp
\#*#
configure
config.log
config.status
autom4te.cache
Makefile
stumpwm
stumpwm.info
TAGS
make-image.lisp
load-stumpwm.lisp
version.lisp
stumpwm-*.tgz
stumpwm-*.tgz.sig
.dotest
patches
stumpwm.texi
